@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Allerta+Stencil&family=Bellefair&family=Bodoni+Moda&family=Cabin+Sketch&family=Cinzel+Decorative:wght@400;700&family=Cormorant+Garamond:wght@300&family=El+Messiri&family=Josefin+Slab:wght@400;500&family=Julius+Sans+One&family=Monoton&family=Nanum+Pen+Script&family=Playfair+Display+SC&family=Poiret+One&family=Spectral&family=Tenor+Sans&family=Thasadith&family=Vidaloka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Kiwi+Maru:wght@300;400;500&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Barriecito&family=Cinzel+Decorative:wght@400;700;900&family=Fondamento:ital@0;1&family=Mirza:wght@400;500;600;700&family=Open+Sans&family=Sigmar+One&display=swap');

:root {
	/* COLORS */
	--my-white: #fffcf5;
	--my-black: #453b1a;
	--text-hover-color: #747474;
	--my-blue: #79b7bb;
	--my-blue-dark: #679b9f;
	--my-blue-light: #A7CFD3;
	--my-green: #7FBD6F;
	--my-purple: #9268AB;
	--my-purple-light: #BDB1F9;
	/* --my-orange: #ffae4a; */
	--my-orange: #EEA849;
	--my-orange-dark: #de963e;
	--my-tan: #B88846;
	--my-tan-light: #ceae81;
	/* --my-orange: #ffba66; */

	/* FONTS */
	/* Lyon Text Web */
	--heading-font: 'Cinzel Decorative', serif;
	--body-font: 'Crimson Text', serif; 
	--ipa-font: 'Times New Roman', sans-serif;
}

/* highlight color */
::selection {
	background-color: rgba(255, 166, 0, 0.838);
	background-color: var(--my-tan-light);
	color: white;
}

html {
	scroll-behavior: smooth;
}

body, #overlay {
	color: var(--my-black);
	/* background-color: var(--my-white); */
	background-color: #f9f4ee;
	/* background-color: #f9f3ed; */
	font-family: var(--body-font), sans-serif;
	text-align: center;
}

#container {
	/* margin: 80px 140px; */
	margin: 80px 40px 0 40px;
	height: 2000px;
}

h3 {
	font-size: 40px;
	font-family: var(--heading-font);
	margin-bottom: 20px;
}

h5 {
	font-size: 28px;
	margin-top: 30px;
	/* text-decoration: underline; */
	/* font-weight: bold; */
	/* font-family: var(--heading-font); */
}

p {
	font-size: 22px;
	margin-left: 100px;
	margin-right: 100px;
	/* font-weight: 100; */
}

a {
	/* font-size: 18px; */
	color: var(--my-tan); 
	/* line-height: 40px; */
}

a:hover, a.text-citation:hover {
	color: var(--my-blue);
	color: var(--my-orange); 
	cursor: pointer;
	text-decoration: underline;
}

.btn {
	color: #f7f7f7;
	color: var(--my-black);
	/* color: #725935; */
	background-color: transparent; 
	border: 1px solid var(--my-black);
	margin: 0 10px 0 10px;
	font-size: 18px;
	border-radius: 30px;
	padding: 10px 18px;
	font-family: 'Corbel';
}

.btn:hover, .btn:focus, .btn:active, .btn.pressed {
	color: #f7f7f7;
	color: var(--my-black);
	background-color: #453b1a48;
	background-color: #b08a5671;
	border-color: none;
}

textarea {
	resize: none;
	border-radius: 14px;
	border: 1px solid #745a36;
	padding: 10px;
	background-color: transparent;
}

textarea::placeholder {
	color: var(--my-black);
	opacity: 0.8;
}

text {
	z-index: 20;
}

circle {
	z-index: 10;
}

.noscroll { 
	overflow: hidden;
}

#overlay {
	position: fixed;
	overflow-y: scroll;
	z-index: 100;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: white;
	visibility: visible;
	text-align: center;
}

.icon {
	content: '\f002';
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	font-size: 16px;
	width: 20px;
	height: 20px;
}

#title-box {
	/* margin: 10px 100px; */
	margin: auto;
	max-width: 900px;
}

#title {
	font-size: 70px;
	font-family: var(--heading-font);
}

#subtitle {
	margin: 0;
}

#container > .viz {
	margin: 0 200px;
}

.quote {
	margin: 20px 200px;
	padding: 20px;
	font-size: 18px;
}

.quote a {
	padding-top: 14px;
	display: block;
}

.fancy-border {
	border: 25px solid var(--my-tan);
	border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;
}

.bubble-text {
	font-size: 22px;
	border: 1px solid #745a36;
	/* border: 1px solid tan; */
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.67);
	border-radius: 14px;
	padding: 12px 24px;
	max-width: 90%;
	display: inline-block;
}

#container > img {
	margin-bottom: 8px;
	opacity: 0.85;
}

.row {
	width: 100%;
}

.row .viz {
	margin: 0 40px;
}

text {
	color: var(--my-black);
	fill: var(--my-black);
}

#bubble.viz {
	margin: 0 260px;
}

.barchart rect {
	opacity: 0.7;
	transition: 0.2s;
	/* cursor: pointer; */
}

.barchart rect:hover {
	/* opacity: 0.9; */
	transition: 0.2s;
}

.barchart text {
	font-size: 20px;
	/* font-family: 'Corbel'; */
	/* font-weight: 100; */
}

#fable-interactions .group {
	/* cursor: pointer; */
}

#relationships-viz {
	padding: 20px;
}

.relationships-animal {
	margin: 10px;
	transition: 0.3s;
	display: inline-block;
	padding: 6px;
}

.relationships-animal:hover {
	cursor: pointer;
	transition: 0.3s;
	background-color: #b8894645;
}

.relationships-animal img {
	margin-bottom: 4px;
	opacity: 0.85;
}

.relationships-animal div {
	margin: auto;
	text-align: center;
	font-size: 18px;
	font-family: 'Corbel';
}

#relationships-infobox {
	border: 1px solid #745a36;
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.67);
	font-size: 20px;
	padding: 20px;
	max-height: 400px;
	padding-right: 10px;
}

#relationships-infobox-content {
	overflow: scroll;
	max-height: 370px;
	margin: 0;
}

#relationships-title {
	font-weight: bold;
	font-size: 32px;
}

#relationships-text p {
	margin: 10px;
	font-size: 18px;
}

#relationships-text h5 {
	margin-top: 26px;
}

#relationships-text .quote-bubble {
	background-color: #b08a5635;
	border-radius: 20px;
	padding: 12px 18px;
	font-size: 16px; 
	/* line-height: 24px;  */
}

#map svg {
	border: 1px solid #745a36;
}

#map-infobox {
	background-color: rgba(255, 255, 255, 0.67);
	/* border: 1px solid tan; */
	border: 1px solid #745a36;
	padding: 18px;
	border-radius: 20px;
	max-height: 400px;
	transition: all linear 0.2s;
	width: 100%;
	overflow: hidden;
}

#map-infobox-title {
	font-weight: bold;
	font-size: 24px;
}

#map-infobox-text {
	max-height: 300px;
	overflow: scroll;
}

#map-infobox p {
	font-size: 16px;
	margin: 4px;
	margin-top: 12px;
}


.quotes-list {
	border: 1px solid #745a36;
	border-radius: 20px;
	/* background-color: rgba(255, 255, 255, 0.67); */
	font-size: 20px;
	padding: 20px;
	max-height: 500px;
	max-width: 700px;
	margin: 20px auto;
	padding-right: 10px;
}

.quotes-list-content {
	overflow: scroll;
	max-height: 470px;
	margin: 0;
}

.quotes-list-content p {
	margin: 10px;
	font-size: 18px;
}

.quotes-list-content .quote-bubble {
	background-color: #b08a5635;
	border-radius: 20px;
	padding: 12px 18px;
	font-size: 16px; 
	/* line-height: 24px;  */
}

.quote-bubble.secondary-source {
	background-color: #eea94954;
}

#sources-list {
	margin: 30px 120px;
}

#sources-list li {
	padding: 4px;
}

.source-highlighted {
	background-color: #b8894658;
	transition: 0.3s;
}

#sources-list, #sources-list a {
	font-size: 16px;
	line-height: 20px;
}

#back-to-text {
	display: none;
	margin: auto;
	position: fixed;
	bottom: 20px;
	right: 20px;
}

a.citation {
	padding: 0 2px;
	color: var(--my-tan); 
}

a.citation:not(.text-citation):hover {
	background-color: #b8894658;
	color: var(--my-tan); 
	text-decoration: none;
}

#footer {
	font-size: 20px;
}

#footer p {
	margin-bottom: 4px;
}

@media only screen and (max-width: 600px) {
	
}


